.App {
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Pacifico', cursive;
}

body {
  background-color: #f64a4a;
}
.start {
  width: 100%;
  height: auto;
}

.start h1 {
  padding-top: 3px;
  color: #ffca2b;
  margin: 5px;
  font-size: 53px;
}

.start_btns button {
  display: flex;
  flex-direction: column;
  background-color: unset;
  padding: 10px 10px 10px 105px;
  font-size: 126px;
  border: unset;
  color: #ffca2b;
  font-weight: 1000;
  width: 318px;
  text-align: center;
  margin: 10px 10px 10px 250px;
}

.start_btns button:focus {
  background-color: #ffca2b;
  color: #f64a4a;
  width: 302px;
  text-align: center;
  height: auto;
  padding: 10px 10px 10px 105px;
}

.startBtn {
  background-color: #ffca2b;
  color: #f64a4a;
  border: 1px solid #f64a4a;
  border-radius: 30px;
  font-size: 76px;
  text-align: center;
  margin-bottom: 30px;
  width: 364px;
  margin-top: 29px;
}
.game img {
  width: 71px;
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 186px);
  grid-template-rows: repeat(3, 186px);
  margin-top: 40px;
  margin-left: 111px;
  grid-gap: 10px;
  width: fit-content;
}

.grid_Btns {
  align-self: center;
  width: 186px;
  height: 186px;
  background-color: #f64a4a;
}
.grid button {
  background-color: unset;
  font-size: 77px;
  color: #ffca2b;
  font-weight: bolder;
  border: unset;
  padding-top: 10px;
  align-self: center;
  width: 186px;
  height: 186px;
  background-color: #f64a4a;
}

.grid button:focus {
  border: unset;
}

.replay {
  background-color: #ffca2b;
  border: 1px solid #f64a4a;
  border-radius: 30px;
  font-size: 50px;
  text-align: center;
  margin-bottom: 15px;
  width: 250px;
  margin-top: 19px;
  padding-bottom: 5px;
  margin-right: 124px;
}

.players {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.players {
  margin-left: 30px;
  padding-right: 132px;
}

.winner {
  position: relative;
  font-size: 52px;
  top: 41%;
  left: 50%;
  transform: translate(-53%, -305%) rotate(20deg);
}
